services:
  web:
    image: nginx:1.27-alpine
    container_name: kpi-labs-nginx
    ports:
      - "18080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./favicon.ico:/usr/share/nginx/html/favicon.ico:ro
      - ./lab1:/usr/share/nginx/html/lab1:ro
      - ./lab2:/usr/share/nginx/html/lab2:ro
      - ./lab3:/usr/share/nginx/html/lab3:ro
      - ./lab4:/usr/share/nginx/html/lab4:ro
      - ./lab5:/usr/share/nginx/html/lab5:ro
      - ./lab6:/usr/share/nginx/html/lab6:ro
      - ./lab7:/usr/share/nginx/html/lab7:ro
    restart: unless-stopped

  lab6-api:
    image: golang:1.23-alpine
    container_name: kpi-labs6-go
    working_dir: /app
    volumes:
      - ./lab6:/app
    command: ["sh", "-c", "cd /app/api && go run server.go"]
    ports:
      - "18090:8090"
    restart: unless-stopped

  lab7-api:
    image: golang:1.23-alpine
    container_name: kpi-labs7-go
    working_dir: /app
    volumes:
      - ./lab7:/app
    command: ["sh", "-c", "cd /app/api && go run server.go"]
    ports:
      - "18091:8091"
    restart: unless-stopped
